<!DOCTYPE html>
<html>

<head>
    <title>AjiMarkupScript | インタプリタ</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>

<body>
    <div id="viewport">
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
            <div class="toast" id="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <i class="bi-info-circle mx-1" style="color: cornflowerblue"></i>
                    <strong class="me-auto">Information</strong>
                    <small>AjiMarkupScript</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" id="toast-body"></div>
            </div>
        </div>

        <div id="fragment-container" class="fragment-container"></div>
    </div>
</body>

</html>